/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --bg-color: #15181e;
  --card-bg: #2a2f3c;
  --primary: #4f5564;
  --primary-hover: #8a93a8;
  --text-primary: #8a93a8;
  --secondary: #5d7392;
  --secondary-hover: #7793bb;
  --text-secondary: #4f5564;
  --input-border: #7f766c;
  --link-box-bg: #7f766c;
  --copy-btn-bg: #10b981;
  --copy-btn-hover: #059669;
  --border-radius: 5px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--bg-color);
  color: var(--text-primary);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  background: none;
  padding: 30px;
  width: 100%;
}

h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  text-align: center;
}

p {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--text-primary);
}

textarea {
  width: 500px;
  padding: 12px;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 15px;
  background: var(--card-bg);
  color: var(--text-primary);
  outline: none;
}

textarea::placeholder {
  color: var(--text-secondary);
}

input[type="text"] {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  background: none;
  outline: none;
  border: none;
  color: var(--text-primary);
  padding: 12px;
  width: 100%;
}

input[type="text"]::selection {
  color: var(--bg-color);
  background: var(--secondary);
}

button {
  background: none;
  color: var(--bg-color);
  border: 1px solid var(--text-secondary);
  padding: 12px 18px;
  border-radius: var(--border-radius);
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  transition:
    background 0.2s ease,
    color 0.2s ease;
  width: auto;
  display: inline-block;
  align-self: center;
  color: var(--text-primary);
}

button:hover {
  background: var(--primary-hover);
  color: var(--bg-color);
}

a {
  color: var(--text-secondary);
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--text-secondary);
  font-size: 1.2rem;
  transition:
    background 0.2s ease,
    color 0.2s ease;
}

a:hover {
  color: var(--text-primary);
  background: var(--card-bg);
}

.link-box {
  background: #f3f4f6;
  padding: 10px;
  border-radius: var(--border-radius);
  word-break: break-all;
  margin-top: 10px;
  font-size: 0.9rem;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

span {
  text-transform: uppercase;
  color: var(--text-secondary);
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.825rem;
}

.center {
  text-align: center;
}

#author {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
}
